* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #555;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family:  sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  height: 60px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center
}

li {
    text-align: center;
    padding: 10px 10px;
}

.small-text {
    font-size: 0.9rem;
}

.menu-bg {
    background-color: red;
    width: 10px;
    height: 10px;
}

.menu-button{
    width: 15px;
}

a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline'
}
